.form {
 display: grid;
 grid-template-columns: 75% 25%;
 grid-template-rows: 30px;
}

.form input {
    padding-left: 4px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 18px;
}

.form input::placeholder {
    color: rgb(197, 191, 191);
    font-size: 1rem;
}

.form button {
    outline: none;
    padding: auto;
    margin-left: 2px;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    background: none;
    text-align: center;
    transition: background-color 1s ease-out;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(176, 213, 245);
}


