.viewButton {
    margin-top: 10px;
}


.viewButton button {
    height: 20px;
    outline: none;
    margin: 10px;
    border: none;
    font-size: 8px;
    cursor: pointer;
}

.active{
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
  }

.inactive{
    background: none;
  }

  .viewButton :first-child {
      margin-left: 0;
  }